In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('gender.csv')

In [4]:
df.head()

,Gender,Age,Height (cm),Weight (kg),Occupation,Education Level,Marital Status,Income (USD),Favorite Color,Unnamed: 9
0,male,32,175,70,Software Engineer,Master's Degree,Married,75000,Blue,NaN
1,male,25,182,85,Sales Representative,Bachelor's Degree,Single,45000,Green,NaN
2,female,41,160,62,Doctor,Doctorate Degree,Married,120000,Purple,NaN
3,male,38,178,79,Lawyer,Bachelor's Degree,Single,90000,Red,NaN
4,female,29,165,58,Graphic Designer,Associate's Degree,Single,35000,Yellow,NaN

In [5]:
df.shape

(131, 10)

In [6]:
df.columns

Index([' Gender', ' Age', ' Height (cm)', ' Weight (kg)', ' Occupation',
       ' Education Level', ' Marital Status', ' Income (USD)',
       ' Favorite Color', 'Unnamed: 9'],
      dtype='object')

In [7]:
df.columns = [i.strip() for i in df.columns]

In [8]:
df.describe()

              Age  Height (cm)  Weight (kg)   Income (USD)  Unnamed: 9
count  131.000000   131.000000   131.000000     131.000000         0.0
mean    34.564885   173.198473    71.458015   93206.106870         NaN
std      5.984723     8.045467    12.648052   74045.382919         NaN
min     24.000000   160.000000    50.000000   30000.000000         NaN
25%     29.000000   166.000000    60.000000   55000.000000         NaN
50%     34.000000   175.000000    75.000000   75000.000000         NaN
75%     39.000000   180.500000    83.000000  100000.000000         NaN
max     52.000000   190.000000    94.000000  500000.000000         NaN

In [9]:
df.isnull().sum()

Gender               0
Age                  0
Height (cm)          0
Weight (kg)          0
Occupation           0
Education Level      0
Marital Status       0
Income (USD)         0
Favorite Color       0
Unnamed: 9         131
dtype: int64

In [10]:
df.drop(['Unnamed: 9'], axis=1, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           131 non-null    object
 1   Age              131 non-null    int64
 2   Height (cm)      131 non-null    int64
 3   Weight (kg)      131 non-null    int64
 4   Occupation       131 non-null    object
 5   Education Level  131 non-null    object
 6   Marital Status   131 non-null    object
 7   Income (USD)     131 non-null    int64
 8   Favorite Color   131 non-null    object
dtypes: int64(4), object(5)
memory usage: 9.3+ KB

In [12]:
numeric_cols = [i for i in df.columns if(df[i].dtype in ['int64' ,'float64'])]
cat_col = [i for i in df.columns if i not in numeric_cols]
for i in cat_col:
    df[i] = [c.strip() for c in df[i]]

In [13]:
data = pd.get_dummies(df , drop_first = True)

In [14]:
data.head()

,Age,Height (cm),Weight (kg),Income (USD),Gender_male,Occupation_Analyst,Occupation_Architect,Occupation_Business Analyst,Occupation_Business Consultant,Occupation_CEO,...,Marital Status_Single,Marital Status_Widowed,Favorite Color_Blue,Favorite Color_Green,Favorite Color_Grey,Favorite Color_Orange,Favorite Color_Pink,Favorite Color_Purple,Favorite Color_Red,Favorite Color_Yellow
0,32,175,70,75000,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,25,182,85,45000,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
2,41,160,62,120000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,38,178,79,90000,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,29,165,58,35000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [15]:
X = data.drop(['Gender_male'], axis = 1)

In [16]:
y = data['Gender_male']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
logreg = LogisticRegression()

In [19]:
logreg.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
y_pred = logreg.predict(X_test)
accuracy_score(y_test , y_pred)

1.0